# Arquivos de compilação e binários gerados pela IDE do Arduino
*.elf
*.hex
*.bin
*.o
*.d

# Pastas de ferramentas e compilação local (Arduino IDE 2.x e VS Code)
.tmp/
build/
bin/
dist/

# VS Code com PlatformIO 
.pio/
.pioenvs/
.piolibdeps/
.clang_complete
.gcc-flags.json

# Arquivos de configuração do sistema operacional (lixo de sistema)
.DS_Store
Thumbs.db


credentials.h
